* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #F1F6F4;
  min-height: 100vh; }

header {
  width: 100%;
  overflow: hidden;
  background-color: #F1F6F4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Trying to add a background image looks horrid. */
  /*background-image: url('header-background.jpg');
    background-size: cover;
    background-position: center;*/ }
  header .title {
    display: block;
    padding: 10px;
    color: inherit !important;
    text-decoration: none !important;
    text-align: center;
    font-size: 40px;
    font-size: 10vw; }
    @media (min-width: 800px) {
      header .title {
        font-size: 80px; } }
  header h1 {
    font-family: 'Playfair Display SC', serif;
    font-weight: 700;
    font-size: 1em;
    margin: 0 0 0px; }
  header h2 {
    font-family: 'Playfair Display SC', serif;
    font-weight: 400;
    font-size: 0.75em;
    margin: 0 0 20px; }
  header nav {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    border-top: 3px double #542512;
    border-bottom: 3px double #542512;
    max-width: 90%;
    font-family: 'Josefin Slab', serif;
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 20px; }
  header nav a {
    padding: 10px; }
    header nav a:link, header nav a:visited {
      text-decoration: none;
      color: inherit; }
    header nav a:hover {
      text-decoration: underline; }

.main-content {
  background: white;
  color: black;
  font: 300 20px "Crimson Pro", serif;
  flex: 1 0 auto;
  width: 100%;
  max-width: 900px;
  padding: 5px 10px;
  text-align: left; }
  @media (min-width: 700px) {
    .main-content {
      border-radius: 4px;
      margin: 10px auto;
      width: calc(100% - 20px); } }
  .main-content > *:first-child {
    margin-top: 0; }
  .main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    font-family: 'Playfair Display SC', serif;
    font-weight: 400; }
    .main-content h1 a, .main-content h2 a, .main-content h3 a, .main-content h4 a, .main-content h5 a, .main-content h6 a {
      text-decoration: none !important;
      color: inherit !important; }
  .main-content h1 {
    font-size: 1.75em; }
  .main-content h2 {
    font-size: 1.3em; }
  .main-content h3 {
    font-size: 1em; }
  .main-content h4 {
    font-size: 0.9em; }
  .main-content h5 {
    font-size: 0.8em; }
  .main-content .subtitle, .main-content .figure {
    font-family: 'Josefin Slab', serif;
    font-weight: 400;
    font-size: 14px; }
  .main-content h1 + .subtitle, .main-content h2 + .subtitle {
    margin-top: -0.8em; }
  .main-content img {
    max-width: 100%; }
  .main-content .figure {
    width: 90%;
    max-width: 500px;
    margin: 1.5em auto;
    text-align: center; }
  .main-content strong {
    font-weight: 700; }
  .main-content #packages.section p {
    padding-left: 1em; }

a.btn, .btn {
  color: black;
  background-color: #EAB3FC;
  font-family: 'Josefin Slab', serif;
  font-weight: 400;
  padding: 0.5em;
  border-radius: 0.5em;
  text-decoration: none; }
  a.btn:hover, .btn:hover {
    background-color: #D97CF8; }
  a.btn:visited, .btn:visited {
    color: black; }

.tile-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-flow: wrap;
  margin: 1em 0; }
  .tile-container .tile {
    flex: 0 0 200px;
    text-align: center;
    border: 1px solid #A26EB3;
    border-top: 8px solid #A26EB3;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-decoration: none;
    color: black;
    margin: 1em; }
    .tile-container .tile:hover {
      background: #fafafa; }
    .tile-container .tile .spacer {
      flex: 1 0 0; }
    .tile-container .tile h2 {
      color: #A26EB3;
      margin: 0.8em 0 0.2em; }

footer {
  font-family: 'Josefin Slab', serif;
  font-size: 14px;
  font-weight: 400;
  padding: 10px;
  text-align: center;
  width: 100%; }
