$header_background: #F1F6F4;
$highlight_color: #542512;
$body_background: #F1F6F4;

$tile-color: #A26EB3;
$button_color: #EAB3FC;
$button_highlight_color: #D97CF8;

$body_font: 300 20px "Crimson Pro", serif;
//$body_font: 500 20px "Josefin Slab", sans-serif;


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $body_background;
    min-height: 100vh;
}

header {
    width: 100%;
    overflow: hidden;

    background-color: $header_background;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* Trying to add a background image looks horrid. */
    /*background-image: url('header-background.jpg');
    background-size: cover;
    background-position: center;*/

    .title {
        display: block;
        padding: 10px;
        color: inherit !important;
        text-decoration: none !important;
        text-align: center;
        font-size: 40px;
        font-size: 10vw;

        @media (min-width: 800px) {
            font-size: 80px;
        }

    }

    h1 {
        font-family: 'Playfair Display SC', serif;
        font-weight: 700;
        font-size: 1em;
        margin: 0 0 0px;
    }
    h2 {
        font-family: 'Playfair Display SC', serif;
        font-weight: 400;
        font-size: 0.75em;
        margin: 0 0 20px;
    }

    nav {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
        border-top: 3px double $highlight_color;
        border-bottom: 3px double $highlight_color;
        max-width: 90%;

        font-family: 'Josefin Slab', serif;
        font-size: 16px;
        font-weight: 700;
        margin: 0 0 20px;
    }

    nav a {
        padding: 10px;

        &:link, &:visited {
            text-decoration: none;
            color: inherit;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

.main-content {
    background: white;
    color: black;
    font: $body_font;
    flex: 1 0 auto;
    width: 100%;
    max-width: 900px;
    padding: 5px 10px;
    text-align: left;

    @media (min-width: 700px) {
        border-radius: 4px;
        margin: 10px auto;
        width: calc(100% - 20px);
    }

    > *:first-child {
        margin-top: 0;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Playfair Display SC', serif;
        font-weight: 400;
        a {
            text-decoration: none !important;
            color: inherit !important;
        }
    }

    h1 { font-size: 1.75em; }
    h2 { font-size: 1.3em; }
    h3 { font-size: 1em; }
    h4 { font-size: 0.9em; }
    h5 { font-size: 0.8em; }

    .subtitle, .figure {
        font-family: 'Josefin Slab', serif;
        font-weight: 400;
        font-size: 14px;
    }

    h1 + .subtitle, h2 + .subtitle {
        margin-top: -0.8em;
    }

    img {
        max-width: 100%;
    }

    .figure {
        width: 90%;
        max-width: 500px;
        margin: 1.5em auto;
        text-align: center;
    }

    strong {
        font-weight: 700;
    }

    .section#packages p {
        padding-left: 1em;
    }
}

a.btn, .btn {
    color: black;
    background-color: $button_color;
    font-family: 'Josefin Slab', serif;
    font-weight: 400;
    padding: 0.5em;
    border-radius: 0.5em;
    text-decoration: none;

    &:hover {
        background-color: $button_highlight_color;
    }

    &:visited {
        color: black;
    }
}


.tile-container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-flow: wrap;
    margin: 1em 0;

    .tile {
        flex: 0 0 200px;
        text-align: center;
        border: 1px solid $tile-color;
        border-top: 8px solid $tile-color;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        padding: 8px;

        display: flex;
        flex-direction: column;
        align-items: stretch;

        text-decoration: none;
        color: black;
        margin: 1em;

        &:hover {
            background: #fafafa;
        }

        .spacer {
            flex: 1 0 0;
        }

        h2 {
            color: $tile-color;
            margin: 0.8em 0 0.2em;
        }
    }
}

footer {
    font-family: 'Josefin Slab', serif;
    font-size: 14px;
    font-weight: 400;
    //color: white;
    padding: 10px;
    //background: $highlight_color;
    text-align: center;
    width: 100%;
}
